.board {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    place-items: center;
    margin: 0.5rem 0;
}
.mainBoard {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    place-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
}
.win {
    border-radius: 15px;
    pointer-events: none;
}
.win .box {
    box-shadow: none;
}
.win.x, .x .box{
    background-color: #3700ff;
    transition: background-color 500ms ease-out;
}
.win.o, .o .box{
    background-color: #ff0000;
    transition: background-color 500ms ease-out;
}
.empate, .empate .box{
    background-color: #00cc0a;
    transition: background-color 500ms ease-out;
}