* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, Arial;
}
body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 15%, rgba(148,187,233,1) 100%);
    color: #fff;
    overflow: auto;
    user-select: none;
}
body:hover {
    cursor: default;
}
button:hover {
    cursor: pointer;
}
