* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, Arial;
}
body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #2f2f2f;
    color: #fff;
    user-select: none;
}
body:hover {
    cursor: default;
}
button:hover {
    cursor: pointer;
}
