* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, Arial;
}
body {
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #fff;
  overflow: hidden;
  user-select: none;
}
body:hover {
  cursor: default;
}
button:hover {
  cursor: pointer;
}