.cell {
    background-color: #ddd;
    box-shadow:inset 0 0 20px #aaa;
    border: #ddd 0.1px solid;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 130%;
    font-size: 2em;
    font-weight: 700;
}

.cell:hover {
    box-shadow: 0 0 30px #777;
}

.cell:disabled {
    box-shadow: none;
    cursor: not-allowed;
}

.nBombas1 {
    color: #00f;
}

.nBombas2 {
    color: #0a0;
}

.nBombas3 {
    color: #d00;
}

.nBombas4 {
    color: #009;
}

.nBombas5 {
    color: darkmagenta;
}

.clicked {
    background-color: #ddd;
    box-shadow:inset 0 0 30px #fff;
}