.box {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 8px #777;
    border-radius: 15%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin: 5px;
}

.box:hover {
    box-shadow: 0 0 15px #ddd;
}
